In [665]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import sqlalchemy as sqlay
import pymysql as msql
import glob
import gzip
import os
import re
import warnings
warnings.filterwarnings('ignore')

msql.install_as_MySQLdb()

In [666]:
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from scipy import stats
from scipy.stats import ttest_ind, shapiro, levene

# SQL Engine initialization

In [667]:
filepath = '/Users/Peach/Dropbox/Dojo-env/dojo-env-setup/Stack4/Week1/Books/enc.json'
filepath

'/Users/Peach/Dropbox/Dojo-env/dojo-env-setup/Stack4/Week1/Books/enc.json'

In [668]:
with open(filepath, 'r') as f:
    envs = json.load(f)

In [669]:
username = envs['user']
password = envs['password']
db_name = 'movie_db'

connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"

In [670]:
engine = create_engine(connection)

In [671]:
conc = {
    'user' : envs['user'],
    'password' : envs['password'],
    'database' : 'movie_db'
}

In [672]:
if database_exists(connection) == False: 
  create_database(connection)
else: 
  print('The database already exists.')

The database already exists.

In [673]:
con = msql.connect(**conc)

# Database normalization and preparation

In [674]:
basics = "/Users/Peach/Dropbox/Dojo-env/dojo-env-setup/Stack4/IMDB/DataMain/basics.csv.gz"
ratings = "/Users/Peach/Dropbox/Dojo-env/dojo-env-setup/Stack4/IMDB/DataMain/ratings.csv.gz"
movies_folder = "/Users/Peach/Dropbox/Dojo-env/dojo-env-setup/Stack4/IMDB/DataSecondary/"

### Basics

In [675]:
basics = pd.read_csv(basics, compression='gzip')

basics

,Unnamed: 0,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,34803,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,42384,tt0043139,movie,Life of a Beijing Policeman,Wo zhe yi bei zi,0,2013.0,NaN,120,"Drama,History"
2,61115,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
3,67668,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
4,86800,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...,...,...,...,...,...
81757,9926017,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019.0,NaN,74,Drama
81758,9926412,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
81759,9926552,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
81760,9926561,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
81761,9926645,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

### Ratings

In [676]:
ratings = pd.read_csv(ratings, compression='gzip')

ratings

        Unnamed: 0     tconst  averageRating  numVotes
0                0  tt0000001            5.7      1979
1                1  tt0000002            5.8       265
2                4  tt0000005            6.2      2621
3                5  tt0000006            5.1       182
4                6  tt0000007            5.4       821
...            ...        ...            ...       ...
501003     1318697  tt9916200            8.1       229
501004     1318698  tt9916204            8.2       263
501005     1318705  tt9916348            8.3        18
501006     1318706  tt9916362            6.4      5374
501007     1318711  tt9916428            3.8        14

[501008 rows x 4 columns]

### TMDB

In [677]:
TMDB_Folder = "/Users/Peach/Dropbox/Dojo-env/dojo-env-setup/Stack4/IMDB_Project/Datasets/tmdb_results_combined.csv.gz"

In [678]:
tmdb_data = pd.read_csv(TMDB_Folder, compression='gzip')

tmdb_data

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
1,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
2,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
3,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.112,2239.0,PG
4,tt0118852,0.0,/vceiGZ3uavAEHlTA7v0GjQsGVKe.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.800,50.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2572,tt7797790,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956219.0,en,Edmund Kemper Part 3: La mort sévit,...,0.0,72.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Edmund Kemper Part 3: La mort sévit,0.0,0.000,0.0,NaN
2573,tt8665056,0.0,NaN,NaN,0.0,"[{'id': 37, 'name': 'Western'}]",http://skeletoncreekproductions.com/p-movie-br...,885436.0,en,Guns Along The Bravo,...,0.0,85.0,[],Released,Evil came to the Southwest until three blazing...,Guns Along The Bravo,0.0,0.000,0.0,NaN
2574,tt8795764,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",https://www.utahwolf.com/films/coming-soon-new...,871624.0,en,New Breed,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.000,0.0,NR
2575,tt9071078,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",NaN,201706.0,cn,致命密函,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.000,2.0,NaN
2576,tt9212730,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,382630.0,ja,実録外伝 ゾンビ極道,...,0.0,88.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Yakuza Zombie,0.0,0.000,0.0,NaN

In [679]:
# movies = {}

# for file_name in os.listdir(movies_folder):
#     if file_name.endswith('.csv.gz') and 'final_tmdb_data' in file_name:
#         file_path = os.path.join(movies_folder, file_name)
        
#         # Read the compressed CSV file into a DataFrame
#         with gzip.open(file_path, 'rt', encoding='utf-8') as file:
#             df = pd.read_csv(file, index_col=None)
            
#             # Get the base name of the file without extension
#             file_key = os.path.splitext(os.path.basename(file_name))[0]
                        
#             # Store the DataFrame in the dictionary
#             movies[file_key] = df

# print(movies)

In [680]:
tmdb_data

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,NaN
1,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,NaN
2,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.000,1.0,NaN
3,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.112,2239.0,PG
4,tt0118852,0.0,/vceiGZ3uavAEHlTA7v0GjQsGVKe.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.800,50.0,R
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2572,tt7797790,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",NaN,956219.0,en,Edmund Kemper Part 3: La mort sévit,...,0.0,72.0,"[{'english_name': 'French', 'iso_639_1': 'fr',...",Released,NaN,Edmund Kemper Part 3: La mort sévit,0.0,0.000,0.0,NaN
2573,tt8665056,0.0,NaN,NaN,0.0,"[{'id': 37, 'name': 'Western'}]",http://skeletoncreekproductions.com/p-movie-br...,885436.0,en,Guns Along The Bravo,...,0.0,85.0,[],Released,Evil came to the Southwest until three blazing...,Guns Along The Bravo,0.0,0.000,0.0,NaN
2574,tt8795764,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}]",https://www.utahwolf.com/films/coming-soon-new...,871624.0,en,New Breed,...,0.0,57.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,New Breed,0.0,0.000,0.0,NR
2575,tt9071078,0.0,NaN,NaN,0.0,"[{'id': 28, 'name': 'Action'}]",NaN,201706.0,cn,致命密函,...,0.0,90.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,NaN,Chinese Heroes,0.0,3.000,2.0,NaN
2576,tt9212730,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,382630.0,ja,実録外伝 ゾンビ極道,...,0.0,88.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Yakuza Zombie,0.0,0.000,0.0,NaN

In [681]:
# final_2000 = movies['final_tmdb_data_2000.csv']
# final_2001 = movies['final_tmdb_data_2001.csv']

In [682]:
# final_2000.info()

## Basics Extraction

In [683]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81762 entries, 0 to 81761
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      81762 non-null  int64
 1   tconst          81762 non-null  object
 2   titleType       81762 non-null  object
 3   primaryTitle    81762 non-null  object
 4   originalTitle   81762 non-null  object
 5   isAdult         81762 non-null  int64
 6   startYear       81762 non-null  float64
 7   endYear         0 non-null      float64
 8   runtimeMinutes  81762 non-null  int64
 9   genres          81762 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 6.2+ MB

In [684]:
title_basics = basics[['tconst', 'primaryTitle', 'startYear', 'runtimeMinutes', 'genres']]

## Ratings Extraction

In [685]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501008 entries, 0 to 501007
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     501008 non-null  int64
 1   tconst         501008 non-null  object
 2   averageRating  501008 non-null  float64
 3   numVotes       501008 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 15.3+ MB

In [686]:
title_ratings = ratings[ratings.columns[ratings.columns != 'Unnamed: 0']]

In [687]:
title_ratings

           tconst  averageRating  numVotes
0       tt0000001            5.7      1979
1       tt0000002            5.8       265
2       tt0000005            6.2      2621
3       tt0000006            5.1       182
4       tt0000007            5.4       821
...           ...            ...       ...
501003  tt9916200            8.1       229
501004  tt9916204            8.2       263
501005  tt9916348            8.3        18
501006  tt9916362            6.4      5374
501007  tt9916428            3.8        14

[501008 rows x 3 columns]

## TMDB Results Extraction

In [688]:
tmdb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2577 entries, 0 to 2576
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2577 non-null   object
 1   adult                  2577 non-null   float64
 2   backdrop_path          1410 non-null   object
 3   belongs_to_collection  208 non-null    object
 4   budget                 2577 non-null   float64
 5   genres                 2577 non-null   object
 6   homepage               171 non-null    object
 7   id                     2577 non-null   float64
 8   original_language      2577 non-null   object
 9   original_title         2577 non-null   object
 10  overview               2529 non-null   object
 11  popularity             2577 non-null   float64
 12  poster_path            2322 non-null   object
 13  production_companies   2577 non-null   object
 14  production_countries   2577 non-null   object
 15  release_date           2553 non-null   object
 16  revenue                2577 non-null   float64
 17  runtime                2577 non-null   float64
 18  spoken_languages       2577 non-null   object
 19  status                 2577 non-null   object
 20  tagline                1109 non-null   object
 21  title                  2577 non-null   object
 22  video                  2577 non-null   float64
 23  vote_average           2577 non-null   float64
 24  vote_count             2577 non-null   float64
 25  certification          815 non-null    object
dtypes: float64(9), object(17)
memory usage: 523.6+ KB

## Basics Normalization

In [689]:
title_basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0043139,Life of a Beijing Policeman,2013.0,120,"Drama,History"
2,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
3,tt0069049,The Other Side of the Wind,2018.0,122,Drama
4,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...
81757,tt9914942,Life Without Sara Amat,2019.0,74,Drama
81758,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy"
81759,tt9916170,The Rehearsal,2019.0,51,Drama
81760,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller"
81761,tt9916362,Coven,2020.0,92,"Drama,History"

In [690]:
# # Step 1: Getting a list of all individual genres
# genres_list = title_basics['genres'].str.split(',').explode().unique()

# # Step 2: Create a new title_genres table with movie ids duplicated for each genre
# title_genres = title_basics['genres'].str.split(',').explode().reset_index().rename(columns={'genres': 'genre_name'})

# # Step 3: Create a mapper dictionary with numeric ids for each genre
# mapper = {genre: genre_id for genre_id, genre in enumerate(genres_list, start=1)}

# # Step 4: Use the mapper dictionary to replace string genres with numeric genre_ids
# title_genres['genre_id'] = title_genres['genre_name'].map(mapper)

# # Step 5: Convert the mapper dictionary into the final genres table
# genres = pd.DataFrame({'genre_id': list(mapper.values()), 'genre_name': list(mapper.keys())})

In [691]:
title_genres

        tconst  genre_id
0            0         1
1            0         2
2            0         3
3            1         4
4            1         5
...        ...       ...
153201   81760        11
153202   81760        12
153203   81760        14
153204   81761         4
153205   81761         5

[153206 rows x 2 columns]

In [692]:
genres

    genre_id  genre_name
0          1      Comedy
1          2     Fantasy
2          3     Romance
3          4       Drama
4          5     History
5          6      Horror
6          7      Sci-Fi
7          8   Biography
8          9     Mystery
9         10     Musical
10        11      Action
11        12   Adventure
12        13       Crime
13        14    Thriller
14        15       Music
15        16   Animation
16        17      Family
17        18         War
18        19       Sport
19        20     Western
20        21       Adult
21        22  Reality-TV
22        23        News
23        24   Talk-Show
24        25   Game-Show

# Creating MySQL tables

In [693]:
title_basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0043139,Life of a Beijing Policeman,2013.0,120,"Drama,History"
2,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
3,tt0069049,The Other Side of the Wind,2018.0,122,Drama
4,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...
81757,tt9914942,Life Without Sara Amat,2019.0,74,Drama
81758,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy"
81759,tt9916170,The Rehearsal,2019.0,51,Drama
81760,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller"
81761,tt9916362,Coven,2020.0,92,"Drama,History"

In [694]:
from sqlalchemy.types import *
## Calculate max string lengths for object columns
key_len = title_basics['tconst'].fillna('').map(len).max()
title_len = title_basics['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [695]:
df_schema

{'tconst': String(length=11),
 'primaryTitle': Text(length=243),
 'startYear': Float(),
 'endYear': Float(),
 'runtimeMinutes': Integer()}

In [696]:
title_basics

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0043139,Life of a Beijing Policeman,2013.0,120,"Drama,History"
2,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
3,tt0069049,The Other Side of the Wind,2018.0,122,Drama
4,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"
...,...,...,...,...,...
81757,tt9914942,Life Without Sara Amat,2019.0,74,Drama
81758,tt9915872,The Last White Witch,2019.0,97,"Comedy,Drama,Fantasy"
81759,tt9916170,The Rehearsal,2019.0,51,Drama
81760,tt9916190,Safeguard,2020.0,95,"Action,Adventure,Thriller"
81761,tt9916362,Coven,2020.0,92,"Drama,History"

In [697]:

title_basics.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

q = """SELECT * FROM title_basics LIMIT 5"""

pd.read_sql(q, engine)

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0035423,Kate & Leopold,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0043139,Life of a Beijing Policeman,2013.0,120,"Drama,History"
2,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020.0,70,Drama
3,tt0069049,The Other Side of the Wind,2018.0,122,Drama
4,tt0088751,The Naked Monster,2005.0,100,"Comedy,Horror,Sci-Fi"

In [698]:
title_genres.to_sql('title_genres',engine,dtype=df_schema,if_exists='replace',index=False)

q = """SELECT * FROM title_genres LIMIT 5"""

pd.read_sql(q, engine)

  tconst  genre_id
0      0         1
1      0         2
2      0         3
3      1         4
4      1         5

In [699]:
title_ratings.to_sql('title_ratings',engine,dtype=df_schema,if_exists='replace',index=False)

q = """SELECT * FROM title_ratings LIMIT 5"""

pd.read_sql(q, engine)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1979
1  tt0000002            5.8       265
2  tt0000005            6.2      2621
3  tt0000006            5.1       182
4  tt0000007            5.4       821

In [700]:
genres.to_sql('genres',engine,dtype=df_schema,if_exists='replace',index=False)

q = """SELECT * FROM genres LIMIT 5"""

pd.read_sql(q, engine)

   genre_id genre_name
0         1     Comedy
1         2    Fantasy
2         3    Romance
3         4      Drama
4         5    History

In [701]:
tmdb_data.to_sql('tmdb_data',engine,dtype=df_schema,if_exists='replace',index=False)

q = """SELECT * FROM tmdb_data LIMIT 5"""

pd.read_sql(q, engine)

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,None,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",None,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.500,22.0,None
1,tt0113092,0.0,None,None,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",None,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.100,8.0,None
2,tt0116391,0.0,None,None,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",None,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,None,Gang,0.0,4.000,1.0,None
3,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,"{'id': 1131062, 'name': 'Wong Kar-Wai’s Love T...",150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",None,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.112,2239.0,PG
4,tt0118852,0.0,/vceiGZ3uavAEHlTA7v0GjQsGVKe.jpg,None,0.0,"[{'id': 18, 'name': 'Drama'}]",None,49511.0,en,Chinese Coffee,...,0.0,99.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,There's a fine line between friendship and bet...,Chinese Coffee,0.0,6.800,50.0,R

In [702]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')

In [703]:
q = """SHOW TABLES"""

pd.read_sql(q, engine)

  Tables_in_movie_db
0             genres
1       title_basics
2       title_genres
3      title_ratings
4          tmdb_data